*{
    box-sizing: border-box;

}

body {
    margin: 0;
    color: #010304;
    /*font-size: 17px;
    line-height: 1.53;*/
  
    font: 17px/1.53 'Roboto', sans-serif;
}

.banner-part {
    height: 100vh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    /* background: color url()repeat 50% 50% /cover; */
}
.banner-part::after {
    content:'' ;
    position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     background-color: rgba(191,61,66,1);
     mix-blend-mode: darken;

}

.banner-part::before {
    content: '';
    height: 100vh;
    display: block;

}

.bg-stretch {
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner-content {
    position: relative;
    z-index: 9;
    width: 100%;
    max-width: 500px;
    color: #ffffff;
     font-family: 'Robota', sans-serif;
     text-align: center;
    
}

.banner-content p {
    margin: 0 0 25px;
}



.overline-text{
    color: #ffffff;
     font-family: 'Robota', sans-serif;
     text-transform: uppercase;
     font-size: 34px;

}

h1{
    font-weight: 700;
    font-size: 65px;
    text-transform: uppercase;
    font-family: 'Robota', sans-serif;
    margin: 0 0 45px;
    
}

.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    
}

h2{
    font-size: 35px;
    line-height: 2;
    font-weight: 700;
    color: #010304;
    text-transform: uppercase;
    margin: 0 0 45px;

}

.style {
    position: relative;
    padding: 44px;
}

.style::after {
    content: '';
    width: 42px;
    height: 42px;
    /* top: 0;
    left: 0; */
    position: absolute;
    background: url('./Images/icon1.png')no-repeat center/cover;
    display: block;



}

/* .btn{ 
    text-transform: uppercase;
    text-decoration: none;
    color: black;

} */

.btn-primary {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px;
    background-color: #333333;
    border: 2px solid white;
    min-width: 230px;
    /* height: 60px; */
    display: inline-block;
    color: #ffffff;
    vertical-align: top;
    border-radius: 30px;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    /* bottom: 0; */
    z-index: 999;
    padding: 15px 50px;
}

#header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.nav span{
    display: block;
}

.about-part .Image-wrap{
    position: relative;
    /* width: 500px;
    height: 345px; */
    padding-top: 61%;
    border-radius: 24px;
    overflow: hidden;
 
}

.two-columns {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -20px;
}

.two-columns .col {
    width: 50%;
    padding: 0 20px;
}

.btn-secondary {
    text-align: center;
    padding: 15px;
    background-color: #bf3d42;
    border: 2px solid  #bf3d42;
    min-width: 18px;
    color: #ffffff;
    border-radius: 30px;
    text-decoration: none;
}

.about-part {
    padding: 120px;
}

.about-part p{
    margin: 0;
    
}

.about-part .btn-wrap{
    margin-top: 60px;
}